<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artic Fox</title>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{url_for('static', filename='engine.js')}}"></script>
</head>
<body>
<img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{{url_for('static', filename='logo.svg')}}"  alt="Vector art of the face of an arctic fox, in blue.">
<p>Welcome to Artic Fox 🦊! This site is still under construction, but it will be a place to see data visualizations for
    the <a href="https://www.artic.edu">Art Institute of Chicago</a> internal data system.</p>
</body>
</html>